/* * {color : rgb(255, 0, 0);} 전체 선택자*/
        
        /*태그 선택자
        h1 {color : white;}
        p {color : green;}
        h1, p {margin-left: 100px;} */

        /*ID 선택자*/
        #header {
            width: 800px; margin:0 auto;
            color: black;
            background : lightgreen;
        }
        #wrap {
            width: 800px; margin:0 auto;
            overflow: hidden;
        }
        #aside {
            width: 200px; float: left;
            background: blue;
        }
        #content {
            width: 600px; float: right;
            background: green;
        }

        /*클래스 선택자*/
        .select {color: red;}
        .odd {
            width: 150px;
            background: black;
        }
        .even {
            width: 100px;
            background: yellow;
        }
        p.even {
            width: 150px;
            background: red;
        }
        .list {
            display: inline-block;
        }

        /*속성 선택자*/
        input[type=text] {
            background: skyblue;
        }
        input[type=password] {
            background: pink;
        }

        /*문자열 속성 선택자*/
        a[href$=com]{
            color: green;
        }
        
        /*후손 선택자*/
        div.list-div ul {
            color: orange;
        }

        /*자손 선택자*/
        div.list-div > ol > li {
            border-bottom: 1px solid black;
        }

        /*동위 선택자*/
        div.div-heading h1 + h2 {
            color: red;
        }

        div.div-heading h1 ~ h2{
            background-color: orange;
        }

        .touch-pad td {
            width: 50px; height: 50px;
            text-align: center;
        }

        /*반응 선택자*/
        .touch-pad td:active {
            background-color: blue;
            color: white;
        }

        .touch-pad td:hover {
            background-color: skyblue;
        }

        /*상태 선택자*/
        div.state input:enabled { background-color: green;}
        div.state input:disabled {background-color: red;}
        div.state input:focus {background-color: lightgreen;}

        input[type=checkbox]:checked + div.div-check {
            height: 0px;
        }

        .div-check {
            overflow: hidden;
            width: 650px; height: 300px;

            -ms-transition-duration: 1s;
            -webkit-transition-duration: 1s;
            -moz-transition-duration: 1s;
            transition-duration: 1s;
        }

        /*구조 선택자*/
        ul.ul-struct { display:inline-block; overflow: hidden; }
        .ul-struct li {
            list-style: none;
            float: left; padding: 15px;
        }

        .ul-struct li:first-child { border-radius: 10px 0 0 10px;}
        .ul-struct li:last-child {border-radius: 0 10px 10px 0;}

        .ul-struct li:nth-child(2n) { background-color: lightgreen;}
        .ul-struct li:nth-child(2n+1) {background-color: skyblue;}

        /*형태 구조 선택자*/
        .heading2 h1:first-of-type { color: red;}
        .heading2 h1:last-of-type { background-color: blue;}
        .heading2 h2:first-of-type {color:red;}
        .heading2 h3:first-of-type {color:red;}
        .heading2 h3:last-of-type { background-color: blue;}

        /*시작 문자 선택자*/
        div.story p::first-letter { font-size: 3em;}
        div.story p::first-line { color: red;}
        /*전후 문자 선택자*/
        div.story p { counter-increment: rint;}
        div.story p::before{content:counter(rint) ".";}
        div.story p::after{content: " - " attr(data-page) " page";}
        /*반응 문자 선택자*/
        div.story p::selection{background: purple; color:white;}

        /*링크 선택자*/
        div.link a {text-decoration: none;}
        div.link a:visited {color: red;}
        div.link a:link::after { content: ' - ' attr(href);}

        /*부정 선택자*/
        div.not input:not([type=password]) {
            background: red;
        }